<div class="item">
    <a href="/<%=currentUser.id%>/<%= folder.id  %>">
        <div class="item-logo">
            <img src="/icons/folder-icon.svg" alt="file icon" />
            <p><%= folder.name %></p>
        </div>
    </a>

    <div class="item-buttons">
        <dialog class="edit-item-modal">
            <button class="exit-dialog">X</button>
            <p>Rename</p>
            <form action="/update-folder/<%= folder.id %>" method="post">
                <input
                    type="text"
                    name="name"
                    id="foldername"
                    value="<%= folder.name %>"
                    required />
                <button type="submit">Rename</button>
            </form>
        </dialog>
        <div>
            <input class="show-modal" type="image" src="/icons/edit-icon.svg" />
        </div>

        <form action="/delete-folder/<%= folder.id %>" method="post">
            <input type="image" src="/icons/delete-icon.svg" />
        </form>
    </div>
</div>
